{{ if eq .chezmoi.os "windows" -}}
alias open="explorer.exe"
{{ else if eq .chezmoi.os "darwin" -}}
# macOS .bashrc contents
{{ else if eq .chezmoi.os "linux" -}}
alias open="explorer.exe" # wsl
{{ end -}}
